/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am335x-mitysom-common.dtsi"

/ {
	model = "Critical Link MitySOM-335x Devkit";

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&ehrpwm0 1 50000 0>;
		brightness-levels = <0 51 53 56 62 75 101 152 255>;
		default-brightness-level = <8>;
	};

	powertip_PH102600T013: lcd-controller@1 {
		compatible = "ti,tilcdc,panel";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&lcd_pins_default>;
		pinctrl-1 = <&lcd_pins_sleep>;
		status = "ok";
		model = "powertip,PH102600T013";

		backlight = <&backlight>;
		// enable-gpios = <&gpio3 8 GPIO_ACTIVE_HIGH>;

		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <16>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};
		display-timings {
			1024x600 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				vactive = <600>;
				hsync-len = <1>; 
				hfront-porch = <160>;
				hback-porch = <160>;
				vsync-len = <1>; 
				vfront-porch = <12>;
				vback-porch = <23>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
	};
};

&am33xx_pinmux {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio_pins>;

	i2c0_pins: pinmux_i2c0_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x988, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c0_sda.i2c0_sda external pullup */
			AM33XX_IOPAD(0x98C, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c0_scl.i2c0_scl external pullup */
		>;
	};

	dcan0_pins_default: dcan0_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x91C, PIN_OUTPUT | MUX_MODE1) 		/* mii1_txd3.d_can0_tx */
			AM33XX_IOPAD(0x920, PIN_INPUT_PULLDOWN | MUX_MODE1) /* mii1_txd2.d_can1_rxd */
		>;
	};

	dcan1_pins_default: dcan1_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x968, PIN_OUTPUT | MUX_MODE2) 		/* uart0_ctsn.dcan1_txd */
			AM33XX_IOPAD(0x96c, PIN_INPUT_PULLDOWN | MUX_MODE2) /* uart0_rtsn.dcan1_rxd */
		>;
	};

	/* MODBUS 1 */
	uart1_pins: pinmux_uart1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x958, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* spi0_d1.gpio0_4 UART1_DIR */
			AM33XX_IOPAD(0x980, PIN_INPUT_PULLUP | MUX_MODE0)	/* uart1_rxd.uart1_rxd UART1_RX */
			AM33XX_IOPAD(0x984, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* uart1_txd.uart1_txd UART1_TX */
		>;
	};

	/* MODBUS 2 */
	uart5_pins: pinmux_uart5_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x928, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mii1_txd0.gpio0_28 UART5_DIR */
			AM33XX_IOPAD(0x908, PIN_INPUT_PULLUP | MUX_MODE3)	/* mii1_col..uart5_rxd UART4_RXD */
			AM33XX_IOPAD(0x918, PIN_OUTPUT_PULLDOWN | MUX_MODE3)	/* mii1_rxdv.uart5_txd UART4_TXD */
		>;
	};

	ehrpwm0_pins: ehrpwm0_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x950, PIN_OUTPUT | MUX_MODE3)		/* spi0_sclk.ehrpwm0a Buzzer */
		        AM33XX_IOPAD(0x954, PIN_OUTPUT | MUX_MODE3)		/* spi0_d0.ehrpwm0b  Backlight*/

		>;
	};
	
	
	/* Conflicts with SPINOR SOMs */
	spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x95c, PIN_OUTPUT | MUX_MODE7)		/* spi0_cs0.gpio0_5 SPI1_CS1 external pullup */
			AM33XX_IOPAD(0x990, PIN_INPUT | MUX_MODE3)		/* mcasp0_aclkx.spi1_sclk */
			AM33XX_IOPAD(0x994, PIN_INPUT_PULLUP | MUX_MODE3)	/* mcasp0_fsx.spi1_d0 MOSI */
			AM33XX_IOPAD(0x998, PIN_INPUT | MUX_MODE3)		/* mcasp0_axr0.spi1_d1 MISO external pullup */
			AM33XX_IOPAD(0x99C, PIN_INPUT_PULLUP | MUX_MODE3)	/* mcasp0_ahclkr.spi1_cs0 SOM:CS0*/
			AM33XX_IOPAD(0x9B4, PIN_INPUT | MUX_MODE7)      	/* xdma_event_intr1.gpio0_20 7SEG_CS J16.48 external pullup */
			AM33XX_IOPAD(0xA1C, PIN_OUTPUT | MUX_MODE7)		/* usb0_drvvbus.gpio0_18 SPI1 EXT_CS external pullup */
		>;
	};

	cpsw_default: cpsw_default {
		pinctrl-single,pins = <
			/* Slave 1 - Removed in rev 12*/

		        /* Slave 2 */
			AM33XX_IOPAD(0x840, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a0.rgmii2_tctl */
			AM33XX_IOPAD(0x844, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a1.rgmii2_rctl */
			AM33XX_IOPAD(0x848, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a2.rgmii2_td3  */
			AM33XX_IOPAD(0x84C, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a3.rgmii2_td2  */
			AM33XX_IOPAD(0x850, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a4.rgmii2_td1  */
			AM33XX_IOPAD(0x854, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a5.rgmii2_td0  */
			AM33XX_IOPAD(0x858, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a6.rgmii2_tclk */
			AM33XX_IOPAD(0x85C, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a7.rgmii2_rclk */
			AM33XX_IOPAD(0x860, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a8.rgmii2_rd3  */
			AM33XX_IOPAD(0x864, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a9.rgmii2_rd2  */
			AM33XX_IOPAD(0x868, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a10.rgmii2_rd1 */
			AM33XX_IOPAD(0x86C, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a11.rgmii2_rd0 */
			AM33XX_IOPAD(0x88c, PIN_INPUT | MUX_MODE7)		/* gpmc_clk.gpio2_1 MII2_PHY_INTN external pullup */
			AM33XX_IOPAD(0x878, PIN_INPUT_PULLUP | MUX_MODE7)	/* gpmc_ben1.gpio1_28 MII2_RESETN */
		>;
	};

	davinci_mdio_default: davinci_mdio_default {
		pinctrl-single,pins = <
			/* MDIO */
			AM33XX_IOPAD(0x948, PIN_INPUT_PULLUP | SLEWCTRL_FAST| MUX_MODE0)	/* mdio_data.mdio_data */
			AM33XX_IOPAD(0x94C, PIN_OUTPUT_PULLUP | MUX_MODE0)			/* mdio_clk.mdio_clk */
		>;
	};

	davinci_mdio_sleep: davinci_mdio_sleep {
		pinctrl-single,pins = <
			/* MDIO reset value */
			AM33XX_IOPAD(0x948, PIN_INPUT_PULLDOWN | MUX_MODE7)
			AM33XX_IOPAD(0x94C, PIN_INPUT_PULLDOWN | MUX_MODE7)
		>;
	};

	/* Setup for MMC0 */
	mmc1_pins_default: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8F0, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat3.mmc0_dat3 */
			AM33XX_IOPAD(0x8F4, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat2.mmc0_dat2 */
			AM33XX_IOPAD(0x8F8, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat1.mmc0_dat1 */
			AM33XX_IOPAD(0x8FC, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat0.mmc0_dat0 */
			AM33XX_IOPAD(0x900, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_clk.mmc0_clk */
			AM33XX_IOPAD(0x904, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_cmd.mmc0_cmd */
		>;
	};

	/* Setup for MMC1 */
	wlan_pins_default: pinmux_wlan_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x880, PIN_INPUT_PULLUP | MUX_MODE2) /* gpmc_csn1.mmc1_clk */
			AM33XX_IOPAD(0x884, PIN_INPUT_PULLUP | MUX_MODE2) /* gpmc_csn2.mmc1_cmd */
		>;
	};

	lcd_pins_default: lcd_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8A0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data0.lcd_data0 */
			AM33XX_IOPAD(0x8A4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data1.lcd_data1 */
			AM33XX_IOPAD(0x8A8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data2.lcd_data2 */
			AM33XX_IOPAD(0x8AC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data3.lcd_data3 */
			AM33XX_IOPAD(0x8B0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data4.lcd_data4 */
			AM33XX_IOPAD(0x8B4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data5.lcd_data5 */
			AM33XX_IOPAD(0x8B8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data6.lcd_data6 */
			AM33XX_IOPAD(0x8BC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data7.lcd_data7 */
			AM33XX_IOPAD(0x8C0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data8.lcd_data8 */
			AM33XX_IOPAD(0x8C4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data9.lcd_data9 */
			AM33XX_IOPAD(0x8C8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data10.lcd_data10 */
			AM33XX_IOPAD(0x8CC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data11.lcd_data11 */
			AM33XX_IOPAD(0x8D0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data12.lcd_data12 */
			AM33XX_IOPAD(0x8D4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data13.lcd_data13 */
			AM33XX_IOPAD(0x8D8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data14.lcd_data14 */
		        AM33XX_IOPAD(0x8DC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data15.lcd_data15 */
		        AM33XX_IOPAD(0x820, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad8.lcd_data16 */
		        AM33XX_IOPAD(0x824, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad9.lcd_data17 */
		        AM33XX_IOPAD(0x828, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad10.lcd_data18 */
		        AM33XX_IOPAD(0x82C, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad11.lcd_data19 */
		        AM33XX_IOPAD(0x830, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad12.lcd_data20 */
		        AM33XX_IOPAD(0x834, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad13.lcd_data21 */
		        AM33XX_IOPAD(0x838, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad14.lcd_data22 */
		        AM33XX_IOPAD(0x83C, PIN_OUTPUT | MUX_MODE1)		/* gpmc_ad15.lcd_data23 */
			AM33XX_IOPAD(0x8E0, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_vsync.lcd_vsync */
			AM33XX_IOPAD(0x8E4, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_hsync.lcd_hsync */
			AM33XX_IOPAD(0x8E8, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_pclk.lcd_pclk */
			AM33XX_IOPAD(0x8EC, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_ac_bias_en.lcd_ac_bias_en */
		>;
	};

	lcd_pins_sleep: lcd_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8A0, PULL_DISABLE | MUX_MODE7)		/* lcd_data0.lcd_data0 */
			AM33XX_IOPAD(0x8A4, PULL_DISABLE | MUX_MODE7)		/* lcd_data1.lcd_data1 */
			AM33XX_IOPAD(0x8A8, PULL_DISABLE | MUX_MODE7)		/* lcd_data2.lcd_data2 */
			AM33XX_IOPAD(0x8AC, PULL_DISABLE | MUX_MODE7)		/* lcd_data3.lcd_data3 */
			AM33XX_IOPAD(0x8B0, PULL_DISABLE | MUX_MODE7)		/* lcd_data4.lcd_data4 */
			AM33XX_IOPAD(0x8B4, PULL_DISABLE | MUX_MODE7)		/* lcd_data5.lcd_data5 */
			AM33XX_IOPAD(0x8B8, PULL_DISABLE | MUX_MODE7)		/* lcd_data6.lcd_data6 */
			AM33XX_IOPAD(0x8BC, PULL_DISABLE | MUX_MODE7)		/* lcd_data7.lcd_data7 */
			AM33XX_IOPAD(0x8C0, PULL_DISABLE | MUX_MODE7)		/* lcd_data8.lcd_data8 */
			AM33XX_IOPAD(0x8C4, PULL_DISABLE | MUX_MODE7)		/* lcd_data9.lcd_data9 */
			AM33XX_IOPAD(0x8C8, PULL_DISABLE | MUX_MODE7)		/* lcd_data10.lcd_data10 */
			AM33XX_IOPAD(0x8CC, PULL_DISABLE | MUX_MODE7)		/* lcd_data11.lcd_data11 */
			AM33XX_IOPAD(0x8D0, PULL_DISABLE | MUX_MODE7)		/* lcd_data12.lcd_data12 */
			AM33XX_IOPAD(0x8D4, PULL_DISABLE | MUX_MODE7)		/* lcd_data13.lcd_data13 */
		        AM33XX_IOPAD(0x8D8, PULL_DISABLE | MUX_MODE7)		/* lcd_data14.lcd_data14 */
		        AM33XX_IOPAD(0x8DC, PULL_DISABLE | MUX_MODE7)		/* lcd_data15.lcd_data15 */
		        AM33XX_IOPAD(0x820, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad8.lcd_data16 */
		        AM33XX_IOPAD(0x824, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad9.lcd_data17 */
		        AM33XX_IOPAD(0x828, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad10.lcd_data18 */
		        AM33XX_IOPAD(0x82C, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad11.lcd_data19 */
		        AM33XX_IOPAD(0x830, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad12.lcd_data20 */
		        AM33XX_IOPAD(0x834, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad13.lcd_data21 */
		        AM33XX_IOPAD(0x838, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad14.lcd_data22 */
		        AM33XX_IOPAD(0x83C, PULL_DISABLE | MUX_MODE7)		/* gpmc_ad15.lcd_data23 */
			AM33XX_IOPAD(0x8E0, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_vsync.lcd_vsync */
			AM33XX_IOPAD(0x8E4, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_hsync.lcd_hsync */
			AM33XX_IOPAD(0x8E8, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_pclk.lcd_pclk */
			AM33XX_IOPAD(0x8EC, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_ac_bias_en.lcd_ac_bias_en */
		>;
	};

	ecap_pins: ecap_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x964, PIN_INPUT | MUX_MODE0)		/* ecap0_in_pwm0_out.ecap0_in_pwm0_out ECAP J11.6 external pulldown*/
		>;
	};

	gpio_pins: gpio_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x944, PIN_INPUT | MUX_MODE7)		/* rmii1_refclk.gpio0_29 TS_INT external pullup */
			AM33XX_IOPAD(0x9A0, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mcasp0_aclkr.gpio3_18 RTD_A1 */
			AM33XX_IOPAD(0x9A4, PIN_INPUT_PULLDOWN | MUX_MODE7) 	/* mcasp0_fsr.gpio3_19 RTD_A0 */
			AM33XX_IOPAD(0x9AC, PIN_INPUT_PULLDOWN | MUX_MODE7) 	/* mcasp0_ahclkx.gpio3_21 RTD_A2 */
			AM33XX_IOPAD(0x9B0, PIN_INPUT_PULLDOWN | MUX_MODE7) 	/* xdma_event_intr0.gpio0_19 7SEG_OFF J16.47 */
			AM33XX_IOPAD(0x9E4, PIN_INPUT | MUX_MODE7)		/* emu0.gpio3_7 BUZZER J16.41 */
			AM33XX_IOPAD(0x940, PIN_INPUT | MUX_MODE7)		/* mii1_rxd0.gpio2_21 DISP J16.30 */
		>;
	};
};




/* RS485 MODBUS 1 */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	rts-gpio = <&gpio0 4 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay =<0 0>;
	rs485-rts-active-high;
	/*rs485-rx-during-tx;*/
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

/* RS485 MODBUS 2 */
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins>;
	rts-gpio = <&gpio0 28 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay =<0 0>;
	rs485-rts-active-high;
	/*rs485-rx-during-tx;*/
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};


&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	status = "okay";
	clock-frequency = <400000>;

	/* PCAL9535A 16-bit GPIO expander 0x27 */
	pcal9535: pcal9535@27 {
		compatible = "nxp,pcal9535";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names =
		"RELAY_0", "RELAY_1", "RELAY_2", "RELAY_3",
		"", "", "", "",
		"TEMP_IN", "SPARE_IN", "DIGITAL_IN_4", "DIGITAL_IN_3",
		"DIGITAL_IN_2", "DIGITAL_IN_1", "", "";
	};

	eeprom@50 {
		compatible = "st,m24256", "st,24c256", "atmel,24c256";
		reg = <0x50>;
		pagesize = <64>;
	};

	eeprom@51 {
		compatible = "st,m24256", "st,24c256", "atmel,24c256";
		reg = <0x51>;
		pagesize = <64>;
	};

	/* MCP4728 12-bit Quad DAC 0x60 */
};

&i2c1 {
	/* SOM PMIC SmartReflex 0x12 */

	/* GT911 TSC 0x14 */
	gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&gpio0>;
		interrupts = <29 IRQ_TYPE_EDGE_FALLING>;

		irq-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		// Workaround: Using DISP pin to reset touchscreen
		reset-gpios = <&gpio2 21 GPIO_ACTIVE_HIGH>;
		// touchscreen-swapped-x-y;
	};

	/* SOM Factory EEPROM 0x50 - 0x57 */

	/* MCP7940N RTC 0x6F */
	mcp79400: mcp79400@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&usb1 {
	status = "okay";
	dr_mode = "host";
};

&lcdc {
	status = "okay";
};

&epwmss0 {
	status = "okay";

	ehrpwm0: pwm@48300200 {
		status = "okay";
		pinctrl-names = "ehrpwm0_pins";
		pinctrl-0 = <&ehrpwm0_pins>;
	};
	ecap0: ecap@48300100 {
		compatible = "ti,am62-ecap-capture";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&ecap_pins>;
	};
};

&epwmss1 {
	status = "okay";
	
};

/ {
	v3_3_analog_fixed: fixedregulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "v3.3_analog_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	/* Not supported: CS0 On-SOM NOR */

	/* Note: spi1 crashes when using more than 4 channels */
	cs-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>, <&gpio0 5 GPIO_ACTIVE_HIGH>, <&gpio0 18 GPIO_ACTIVE_HIGH>, <&gpio0 20 GPIO_ACTIVE_HIGH>;

	/* SPI1_CS0 - gpio1_15 MCP3208 */
	mcp3208_ain@0 {
		compatible = "microchip,mcp3208";
		reg = <0>;
		spi-max-frequency = <1000000>;
		vref-supply = <&v3_3_analog_fixed>;

		/* channels = "AIN1", "AIN2", "AIN3", "AIN4"; */
	};

	/* SPI1_CS1 - gpio0_5 MCP3208 */
	mcp3208_rtd@1 {
		compatible = "microchip,mcp3208";
		reg = <1>;
		spi-max-frequency = <1000000>;
		vref-supply = <&v3_3_analog_fixed>;

		/* channels = "RTD_IN_HIGH", "RTD_IN_LOW", "AMBIENT"; */
	};

	/* EXT_CS - gpio0_18 J9 Connector */
	ext_j9: ext_j9@2 {
		compatible = "spidev";
		reg = <2>;
		status = "okay";

		spi-max-frequency = <2000000>;
	};

	/* 7SEG_CS - gpio0_20 */
	tlc59281: tlc59281@3 {
		compatible = "spidev";
		reg = <3>;
		status = "okay";

		spi-max-frequency = <2000000>;
	};
};

&mac {
	pinctrl-names = "default";
	pinctrl-0 = <&cpsw_default>;
	status = "okay";
};

&davinci_mdio {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&davinci_mdio_default>;
	pinctrl-1 = <&davinci_mdio_sleep>;
	status = "okay";

	reset-gpios = <&gpio1 28 GPIO_ACTIVE_LOW>,
		      <&gpio3 20 GPIO_ACTIVE_LOW>;
	reset-delay-us = <2>;

	phy0: ethernet-phy@0 {
		reg = <2>;
		/* Restrict phy to 10/100 due to magnetics */
		max-speed = <100>;
	};
};

&cpsw_emac1 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	dual_emac_res_vlan = <1>;
};


/* ADC */
&tscadc {
	status = "okay";
	/* XR, YD, XL, YI, GND, 3.3V/2, 3.3V/2, GND */
	// tsc {
	// 	ti,wires = <4>;
	// 	ti,x-plate-resistance = <200>;
	// 	ti,coordinate-readouts = <5>;
	// 	ti,wire-config = <0x00 0x11 0x22 0x33>;
	// 	ti,charge-delay = <0x400>;
	// };

	adc {
		ti,adc-channels = <5 6>;
	};
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins_default>;
	status = "okay";
	vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&wlan_pins_default>;
	status = "okay";
	vmmc-supply = <&vmmc_fixed>;
	bus-width = <1>; // <4>;
	broken-cd; // Tell driver to poll for device insertion
	cap-sd-highspeed; // Try to enable 50Mhz mode
};

&dcan0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dcan0_pins_default>;
};

&dcan1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dcan1_pins_default>;
};


&rtc {
	system-power-controller;
};

