/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am335x-mitysom-common.dtsi"

/ {
	model = "Critical Link MitySOM-335x Devkit";

	backlight {
		compatible = "pwm-backlight";
		pwms = <&ehrpwm0 0 50000 0>;
		brightness-levels = <0 51 53 56 62 75 101 152 255>;
		default-brightness-level = <8>;
	};

	/* LCD configuraton for the ThreeFive S9700RTWV35TR */
	threefive_s9700rtwv35tr: lcd-controller@0 {
		compatible = "ti,tilcdc,panel";
		status = "disabled";
		model = "threefive,s9700rtwv35tr";
		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <32>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};

		display-timings {
			800x480p62 {
				clock-frequency = <30000000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <39>;
				hback-porch = <39>;
				hsync-len = <47>;
				vback-porch = <29>;
				vfront-porch = <13>;
				vsync-len = <2>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
	};

	nec_nl10276bc13: lcd-controller@1 {
		compatible = "ti,tilcdc,panel";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&lcd_pins_default>;
		pinctrl-1 = <&lcd_pins_sleep>;
		status = "ok";
		model = "nec,nl10276bc13";
		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <32>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};
		display-timings {
			1024x768 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hfront-porch = <24>;
				hback-porch = <160>;
				hsync-len = <136>;
				vback-porch = <29>;
				vfront-porch = <3>;
				vsync-len = <6>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
	};

	hdmi {
		compatible = "ti,tilcdc,tfp410";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&lcd_pins_default>;
		pinctrl-1 = <&lcd_pins_sleep>;
		i2c = <&i2c1>;
		status = "disabled";

		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <32>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "MitySOM-335x";
		simple-audio-card,format = "dsp_a";
		/* SND_SOC_DAIFMT_CBM_CFM */
		simple-audio-card,bitclock-master = <&tlv320aic26_codec>;
		simple-audio-card,frame-master = <&tlv320aic26_codec>;
		/* SND_SOC_DAIFMT_IB_NF */
		simple-audio-card,bitclock-inversion;

		simple-audio-card,cpu {
			sound-dai = <&mcasp1>;
			system-clock-frequency = <24576000>;
		};


		tlv320aic26_codec: simple-audio-card,codec {
			sound-dai = <&tlv320aic26>;
			system-clock-frequency = <24576000>;
		};
	};
};

&am33xx_pinmux {
	pinctrl-names = "default";
	pinctrl-0 = <&clkout2_pin>;

	i2c0_pins: pinmux_i2c0_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x988, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c0_sda.i2c0_sda */
			AM33XX_IOPAD(0x98C, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c0_scl.i2c0_scl */
		>;
	};

	/* EXPANSION 1 */
	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x934, PIN_INPUT_PULLUP | MUX_MODE1)	/* mii1_rxd3.uart3_rxd */
			AM33XX_IOPAD(0x938, PIN_OUTPUT_PULLDOWN | MUX_MODE1)	/* mii1_rxd2.uart3_txd */
			AM33XX_IOPAD(0x92C, PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* mii1_tx_clk.gpio3_9 */
		>;
	};

	/* EXPANSION 0 */
	uart4_pins: pinmux_uart4_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x968, PIN_INPUT_PULLUP | MUX_MODE1)	/* uart0_ctsn.uart4_rxd*/
			AM33XX_IOPAD(0x96C, PIN_OUTPUT_PULLDOWN | MUX_MODE1)	/* uart0_rtsn.uart4_txd */
			AM33XX_IOPAD(0x93C, PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* mii1_rxd1.gpio2_20 */

		>;
	};

	clkout2_pin: pinmux_clkout2_pin {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x9B4, PIN_OUTPUT_PULLDOWN | MUX_MODE3)	/* xdma_event_intr1.clkout2 */
		>;
	};

	spi0_pins: pinmux_spi0_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x950, PIN_INPUT_PULLUP | MUX_MODE0)	/* spi0_sclk.spi0_sclk */
			AM33XX_IOPAD(0x954, PIN_INPUT_PULLUP | MUX_MODE0)	/* spi0_d0.spi0_d0 MOSI*/
			AM33XX_IOPAD(0x958, PIN_INPUT_PULLDOWN | MUX_MODE0)	/* spi0_d1.spi0_d1 MISO */
			AM33XX_IOPAD(0x95C, PIN_OUTPUT_PULLUP | MUX_MODE0)	/* spi0_cs0.spi0_cs0 */
			AM33XX_IOPAD(0x960, PIN_OUTPUT_PULLUP| MUX_MODE0)	/* spi0_cs1.spi0_cs1 */
		>;
	};

	spi0_sleep_pins: pinmux_spi0_sleep_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x950, PIN_INPUT_PULLUP | MUX_MODE7)	/* spi0_sclk.spi0_sclk */
			AM33XX_IOPAD(0x954, PIN_INPUT_PULLUP | MUX_MODE7)	/* spi0_d0.spi0_d0 MOSI */
			AM33XX_IOPAD(0x958, PIN_INPUT_PULLUP | MUX_MODE7)	/* spi0_d1.spi0_d1 MISO */
			AM33XX_IOPAD(0x95C, PIN_INPUT_PULLUP | MUX_MODE7)	/* spi0_cs0.spi0_cs0 */
			AM33XX_IOPAD(0x960, PIN_INPUT_PULLUP | MUX_MODE7)	/* spi0_cs1.spi0_cs1 */
		>;
	};

	spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x964, PIN_INPUT_PULLUP | MUX_MODE4)	/* ecap0_in_pwm0_out.spi1_sclk */
			AM33XX_IOPAD(0x994, PIN_INPUT_PULLUP | MUX_MODE3)	/* mcasp0_fsx.spi1_d0 MOSI */
			AM33XX_IOPAD(0x998, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* mcasp0_axr0.spi1_d1 MISO */
			AM33XX_IOPAD(0x99C, PIN_INPUT_PULLUP | MUX_MODE3)	/* mcasp0_ahclkr.spi1_cs0 SOM:CS0*/
		>;
	};

	spi1_sleep_pins: pinmux_spi1_sleep_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x964, PIN_INPUT_PULLUP | MUX_MODE7)	/* ecap0_in_pwm0_out.spi1_sclk */
			AM33XX_IOPAD(0x994, PIN_INPUT_PULLUP | MUX_MODE7)	/* mcasp0_fsx.spi1_d0 MOSI*/
			AM33XX_IOPAD(0x998, PIN_INPUT_PULLUP | MUX_MODE7)	/* mcasp0_axr0.spi1_d1 MISO*/
			AM33XX_IOPAD(0x99C, PIN_INPUT_PULLUP | MUX_MODE7)	/* mcasp0_ahclkr.spi1_cs0 */
		>;
	};

	ehrpwm0_pins_default: backlight_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x990, PIN_OUTPUT | MUX_MODE1)		/* mcasp0_aclkx.ehrpwm0a */
		>;
	};

	ehrpwm0_pins_sleep: backlight_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x990, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mcasp0_aclkx.ehrpwm0a */
		>;
	};

	cpsw_default: cpsw_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x840, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a0.rgmii2_tctl */
			AM33XX_IOPAD(0x844, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a1.rgmii2_rctl */
			AM33XX_IOPAD(0x848, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a2.rgmii2_td3  */
			AM33XX_IOPAD(0x84C, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a3.rgmii2_td2  */
			AM33XX_IOPAD(0x850, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a4.rgmii2_td1  */
			AM33XX_IOPAD(0x854, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a5.rgmii2_td0  */
			AM33XX_IOPAD(0x858, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a6.rgmii2_tclk */
			AM33XX_IOPAD(0x85C, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a7.rgmii2_rclk */
			AM33XX_IOPAD(0x860, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a8.rgmii2_rd3  */
			AM33XX_IOPAD(0x864, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a9.rgmii2_rd2  */
			AM33XX_IOPAD(0x868, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a10.rgmii2_rd1 */
			AM33XX_IOPAD(0x86C, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a11.rgmii2_rd0 */
		>;
	};

	cpsw_sleep: cpsw_sleep {
		pinctrl-single,pins = <
			/* Slave 1 reset value */
			AM33XX_IOPAD(0x840, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a0.rgmii2_tctl */
			AM33XX_IOPAD(0x844, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a1.rgmii2_rctl */
			AM33XX_IOPAD(0x848, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a2.rgmii2_td3  */
			AM33XX_IOPAD(0x84C, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a3.rgmii2_td2  */
			AM33XX_IOPAD(0x850, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a4.rgmii2_td1  */
			AM33XX_IOPAD(0x854, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a5.rgmii2_td0  */
			AM33XX_IOPAD(0x858, PIN_OUTPUT | MUX_MODE2)		/* gpmc_a6.rgmii2_tclk */
			AM33XX_IOPAD(0x85C, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a7.rgmii2_rclk */
			AM33XX_IOPAD(0x860, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a8.rgmii2_rd3  */
			AM33XX_IOPAD(0x864, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a9.rgmii2_rd2  */
			AM33XX_IOPAD(0x868, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a10.rgmii2_rd1 */
			AM33XX_IOPAD(0x86C, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* gpmc_a11.rgmii2_rd0 */
		>;
	};

	davinci_mdio_default: davinci_mdio_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x948, PIN_INPUT_PULLUP | SLEWCTRL_FAST| MUX_MODE0)	/* mdio_data.mdio_data */
			AM33XX_IOPAD(0x94C, PIN_OUTPUT_PULLUP | MUX_MODE0)			/* mdio_clk.mdio_clk */
		>;
	};

	davinci_mdio_sleep: davinci_mdio_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x948, PIN_INPUT_PULLDOWN | MUX_MODE7)
			AM33XX_IOPAD(0x94C, PIN_INPUT_PULLDOWN | MUX_MODE7)
		>;
	};

	mmc1_pins_default: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8F0, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat3.mmc0_dat3 */
			AM33XX_IOPAD(0x8F4, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat2.mmc0_dat2 */
			AM33XX_IOPAD(0x8F8, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat1.mmc0_dat1 */
			AM33XX_IOPAD(0x8FC, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat0.mmc0_dat0 */
			AM33XX_IOPAD(0x900, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_clk.mmc0_clk */
			AM33XX_IOPAD(0x904, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_cmd.mmc0_cmd */
			AM33XX_IOPAD(0x914, PIN_INPUT | MUX_MODE7)		/* mii1_txen.gpio3_3 CD */
			AM33XX_IOPAD(0x908, PIN_INPUT_PULLUP | MUX_MODE7)	/* mii1_col.gpio3_0 WP */
		>;
	};

	mmc1_pins_sleep: pinmux_mmc1_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8F0, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat3.mmc0_dat3 */
			AM33XX_IOPAD(0x8F4, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat2.mmc0_dat2 */
			AM33XX_IOPAD(0x8F8, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat1.mmc0_dat1 */
			AM33XX_IOPAD(0x8FC, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat0.mmc0_dat0 */
			AM33XX_IOPAD(0x900, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_clk.mmc0_clk */
			AM33XX_IOPAD(0x904, PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_cmd.mmc0_cmd */
			AM33XX_IOPAD(0x914, PIN_INPUT_PULLUP | MUX_MODE7)	/* mii1_txen.gpio3_3 CD */
			AM33XX_IOPAD(0x908, PIN_INPUT_PULLUP | MUX_MODE7)	/* mii1_col.gpio3_0 WP */
		>;
	};

	lcd_pins_default: lcd_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8A0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data0.lcd_data0 */
			AM33XX_IOPAD(0x8A4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data1.lcd_data1 */
			AM33XX_IOPAD(0x8A8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data2.lcd_data2 */
			AM33XX_IOPAD(0x8AC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data3.lcd_data3 */
			AM33XX_IOPAD(0x8B0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data4.lcd_data4 */
			AM33XX_IOPAD(0x8B4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data5.lcd_data5 */
			AM33XX_IOPAD(0x8B8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data6.lcd_data6 */
			AM33XX_IOPAD(0x8BC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data7.lcd_data7 */
			AM33XX_IOPAD(0x8C0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data8.lcd_data8 */
			AM33XX_IOPAD(0x8C4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data9.lcd_data9 */
			AM33XX_IOPAD(0x8C8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data10.lcd_data10 */
			AM33XX_IOPAD(0x8CC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data11.lcd_data11 */
			AM33XX_IOPAD(0x8D0, PIN_OUTPUT | MUX_MODE0)		/* lcd_data12.lcd_data12 */
			AM33XX_IOPAD(0x8D4, PIN_OUTPUT | MUX_MODE0)		/* lcd_data13.lcd_data13 */
			AM33XX_IOPAD(0x8D8, PIN_OUTPUT | MUX_MODE0)		/* lcd_data14.lcd_data14 */
			AM33XX_IOPAD(0x8DC, PIN_OUTPUT | MUX_MODE0)		/* lcd_data15.lcd_data15 */
			AM33XX_IOPAD(0x8E0, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_vsync.lcd_vsync */
			AM33XX_IOPAD(0x8E4, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_hsync.lcd_hsync */
			AM33XX_IOPAD(0x8E8, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_pclk.lcd_pclk */
			AM33XX_IOPAD(0x8EC, PIN_OUTPUT_PULLDOWN | MUX_MODE0)	/* lcd_ac_bias_en.lcd_ac_bias_en */
		>;
	};

	lcd_pins_sleep: lcd_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8A0, PULL_DISABLE | MUX_MODE7)		/* lcd_data0.lcd_data0 */
			AM33XX_IOPAD(0x8A4, PULL_DISABLE | MUX_MODE7)		/* lcd_data1.lcd_data1 */
			AM33XX_IOPAD(0x8A8, PULL_DISABLE | MUX_MODE7)		/* lcd_data2.lcd_data2 */
			AM33XX_IOPAD(0x8AC, PULL_DISABLE | MUX_MODE7)		/* lcd_data3.lcd_data3 */
			AM33XX_IOPAD(0x8B0, PULL_DISABLE | MUX_MODE7)		/* lcd_data4.lcd_data4 */
			AM33XX_IOPAD(0x8B4, PULL_DISABLE | MUX_MODE7)		/* lcd_data5.lcd_data5 */
			AM33XX_IOPAD(0x8B8, PULL_DISABLE | MUX_MODE7)		/* lcd_data6.lcd_data6 */
			AM33XX_IOPAD(0x8BC, PULL_DISABLE | MUX_MODE7)		/* lcd_data7.lcd_data7 */
			AM33XX_IOPAD(0x8C0, PULL_DISABLE | MUX_MODE7)		/* lcd_data8.lcd_data8 */
			AM33XX_IOPAD(0x8C4, PULL_DISABLE | MUX_MODE7)		/* lcd_data9.lcd_data9 */
			AM33XX_IOPAD(0x8C8, PULL_DISABLE | MUX_MODE7)		/* lcd_data10.lcd_data10 */
			AM33XX_IOPAD(0x8CC, PULL_DISABLE | MUX_MODE7)		/* lcd_data11.lcd_data11 */
			AM33XX_IOPAD(0x8D0, PULL_DISABLE | MUX_MODE7)		/* lcd_data12.lcd_data12 */
			AM33XX_IOPAD(0x8D4, PULL_DISABLE | MUX_MODE7)		/* lcd_data13.lcd_data13 */
			AM33XX_IOPAD(0x8D8, PULL_DISABLE | MUX_MODE7)		/* lcd_data14.lcd_data14 */
			AM33XX_IOPAD(0x8DC, PULL_DISABLE | MUX_MODE7)		/* lcd_data15.lcd_data15 */
			AM33XX_IOPAD(0x8E0, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_vsync.lcd_vsync */
			AM33XX_IOPAD(0x8E4, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_hsync.lcd_hsync */
			AM33XX_IOPAD(0x8E8, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_pclk.lcd_pclk */
			AM33XX_IOPAD(0x8EC, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* lcd_ac_bias_en.lcd_ac_bias_en */
		>;
	};

	am335x_evm_audio_pins: am335x_evm_audio_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x9A0, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* mcasp0_aclkr.mcasp1_aclkx */
			AM33XX_IOPAD(0x9A4, PIN_INPUT_PULLDOWN | MUX_MODE3) 	/* mcasp0_fsr.mcasp1_fsx */
			AM33XX_IOPAD(0x9A8, PIN_OUTPUT_PULLDOWN | MUX_MODE3) 	/* mcasp0_axr1.mcasp1_axr0 */
			AM33XX_IOPAD(0x9AC, PIN_INPUT_PULLDOWN | MUX_MODE3) 	/* mcasp0_ahclkx.mcasp1_axr1 */
			AM33XX_IOPAD(0x940, PIN_INPUT_PULLDOWN | MUX_MODE4) 	/* mii1_rxd0.mcasp1_ahclkr */
			AM33XX_IOPAD(0x944, PIN_INPUT_PULLDOWN | MUX_MODE6) 	/* rmii1_refclk.mcasp1_ahclkx */
		>;
	};

	am335x_evm_audio_pins_sleep: am335x_evm_audio_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x9A0, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mcasp0_aclkr.mcasp1_aclkx */
			AM33XX_IOPAD(0x9A4, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mcasp0_fsr.mcasp1_fsx */
			AM33XX_IOPAD(0x9A8, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mcasp0_axr1.mcasp1_axr0 */
			AM33XX_IOPAD(0x9AC, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mcasp0_ahclkx.mcasp1_axr1 */
			AM33XX_IOPAD(0x940, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* mii1_rxd0.mcasp1_ahclkr */
			AM33XX_IOPAD(0x944, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* rmii1_refclk.mcasp1_ahclkx */
		>;
	};

	dcan0_pins_default: dcan0_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x91C, PIN_OUTPUT | MUX_MODE1)		/* mii1_txd3.d_can0_tx */
			AM33XX_IOPAD(0x920, PIN_INPUT_PULLDOWN | MUX_MODE1)	/* mii1_txd2.d_can1_rxd */
		>;
	};

	dcan1_pins_default: dcan1_pins_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x980, PIN_OUTPUT | MUX_MODE2)		/* uart1_rxd.dcan1_txd */
			AM33XX_IOPAD(0x984, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* uart1_txd.dcan1_rxd */
		>;
	};
};

/* RS485 EXPANSION 1 */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
	rts-gpio = <&gpio3 9 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay =<0 0>;
	rs485-rts-active-high;
	/*rs485-rx-during-tx;*/
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

/* RS485 EXPANSION 0 */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	rts-gpio = <&gpio2 20 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay =<0 0>;
	rs485-rts-active-high;
	/*rs485-rx-during-tx;*/
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	status = "okay";
	clock-frequency = <400000>;

};

&i2c1 {
	/* SOM Factory EEPROM 0x50 - 0x57 */
	/* SOM PMIC SmartReflex 0x12 */
};

&usb0 {
	status = "okay";
	/* Port will act as an OTG device if the baseboard supports this feature */
	dr_mode = "otg";
};

&usb1 {
	status = "okay";
	dr_mode = "host";
};

&lcdc {
	status = "okay";
};

&epwmss0 {
	status = "okay";

	ehrpwm0: pwm@48300200 {
		status = "okay";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&ehrpwm0_pins_default>;
		pinctrl-1 = <&ehrpwm0_pins_sleep>;
	};
};

&spi0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi0_pins>;
	pinctrl-1 = <&spi0_sleep_pins>;

	status = "okay";
	ti,pindir-d0-out-d1-in = <1>;

	tlv320aic26: tlv320aic26@1 {
		#sound-dai-cells = <0>;
		compatible = "ti,tlv320aic26";
		reg = <0x1>;
		status = "okay";

		spi-max-frequency = <2000000>;
		spi-cpha;
	};
};

&spi1 {
	/* CS0 On-SOM NOR */
};

&mcasp1 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&am335x_evm_audio_pins>;
	pinctrl-1 = <&am335x_evm_audio_pins_sleep>;

	status = "okay";

	op-mode = <0>; /* MCASP_IIS_MODE */
	tdm-slots = <2>;
	/* 4 serializers */
	serial-dir = <  /* 0: INACTIVE, 1: TX, 2: RX */
		1 2 0 0
	>;
	tx-num-evt = <32>;
	rx-num-evt = <32>;
};

&mac {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&cpsw_default>;
	pinctrl-1 = <&cpsw_sleep>;
	status = "okay";
};

&davinci_mdio {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&davinci_mdio_default>;
	pinctrl-1 = <&davinci_mdio_sleep>;
	status = "okay";
};

&cpsw_emac0 {
	phy_id = <&davinci_mdio>, <1>;
	phy-mode = "rgmii";
};

&cpsw_emac1 {
	phy_id = <&davinci_mdio>, <2>;
	phy-mode = "rgmii";
};

/* ADC and Touchscreen */
&tscadc {
	status = "okay";
	tsc {
		ti,wires = <4>;
		ti,x-plate-resistance = <200>;
		ti,coordinate-readouts = <5>;
		ti,wire-config = <0x00 0x11 0x22 0x33>;
		ti,charge-delay = <0xB000>;
	};

	adc {
		ti,adc-channels = <4 5 6 7>;
	};
};

&mmc1 {
	status = "okay";
	vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_sleep>;
	/*
	 * Uncomment cd and wp if you want to use hardware card-detect/write-protect.
	 * Disabled by default to support boards with fullsized sd cards and microsd cards
	 */
	/* cd-gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>; */
	/*cd-inverted;*/
	/* wp-gpios = <&gpio3 0 GPIO_ACTIVE_HIGH>; */
};

&dcan0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dcan0_pins_default>;
};

&dcan1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dcan1_pins_default>;
};

&rtc {
	system-power-controller;
};
